.business {
  background-color: #f8f8f8;
  padding: 3rem 0;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: uppercase;
}
.subTitle {
  font-size: 0.75rem;
  font-weight: bold;
  color: #999;
}
.wrap {
  display: flex;
  justify-content: center;
}
.content {
  width: 33%;
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 2rem;
}
.content h4 {
  font-weight: bold;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content p {
  font-size: 1rem;
  padding: 0.75rem 0;
  flex-grow: 1;
}
.icon {
  padding: 3rem 0;
}
.iconBox {
  margin: 0 auto;
  display: block;
  width: 128px;
  height: 64px;
  background: #fff;
  position: relative;
}
.iconBox:before {
  content: "";
  position: absolute;
  top: -35px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
  border-bottom: 35px solid #fff;
}
.iconBox:after {
  content: "";
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 64px solid transparent;
  border-right: 64px solid transparent;
  border-top: 35px solid #fff;
}
.iconBox img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 60px;
  filter: grayscale(100%);
}
@media screen and (max-width: 768px) {
  .wrap {
    flex-wrap: wrap;
  }
  .content {
    width: 100%;
  }
}
