.footer {
  background-color: #1e252c;
}

.footerWrap {
  color: #fff;
  display: flex;
  padding: 2rem 0;
  align-items: center;
}

.logoBox {
  width: 10%;
  padding: 1rem;
}
.logoBox img {
  width: 100%;
}

.footerInfo {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  text-align: left;
  line-height: 1.4;
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  .logoBox {
    padding: 0;
    width: 20%;
  }
  .footerInfo {
    font-size: 0.7rem;
    padding-left: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .logoBox {
    padding: 0;
    width: 20%;
  }
  .footerInfo {
    font-size: 0.7rem;
    padding-left: 1.5rem;
  }
}
