@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Noto Sans Korean" !important;
}
body {
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}

.container {
  width: 1180px;
}

@media screen and (max-width: 768px) {
  .container {
    width: 96%;
    max-width: 100%;
  }
}
